.row
  .col-md-8.col-md-offset-2
    = form_tag cafes_path, :id => "search_form", :class => "input-group", :method => :get do
      - if params[:search].present?
        - btnClear_class = "btn btn-default"
        = text_field_tag :search, nil, :id => "searchBox", :class => "form-control", :value => params[:search], :placeholder => "Search for a cafe"
      - else
        - btnClear_class = "btn btn-default disabled"
        = text_field_tag :search, nil, :id => "searchBox", :class => "form-control", :placeholder => "Search for a cafe"
      %span.input-group-btn
        = submit_tag value = "Search", class: "btn btn-warning"
        = link_to cafes_path, class: btnClear_class do
          %i.fa.fa-times#cancel_search