%header
  .container
    .intro-text
      .intro-lead-in Welcome to Coffee and power
      .intro-heading Find a cafe with wifi
.container
  .row.wrapper.top-50
    .col-md-12
      .col-md-6.col-md-offset-3.right-inner-addon
        %i.fa.fa-search
        / %input{:type=>"search", :class => "form-control", :placeholder => "Enter an address to find a cafe with wifi"}
        %select#locations
          - @locations.each do |location|
            %option{:value => location.id}= location.name
  .row
    #results
      - @cafes.each do |cafe|
        .col-md-4.cafe_content
          .name
            %h2= link_to truncate(cafe.name, length: 18), cafe
          .address
            %h4= truncate(cafe.address, lenth: 80)
          .data.clearfix
          %p.summary
            = truncate(cafe.description, length: 200)
          %p.social
            %span
              %i.fa.fa-thumbs-o-up
                = cafe.get_likes.size
            %span
              %i.fa.fa-thumbs-o-down
                = cafe.get_dislikes.size