%header
  .container
    .intro-text
      .intro-lead-in Welcome to Coffee and Power
      .intro-heading Lorem ipsum dolor sit amet

.notifications
  - if notice
    #notice_wrapper
      %p.notice= notice
  - elsif alert
    #alert_wrapper
      %p.alert= alert

.container  
  .row
    #cafes
      - @cafes.each do |cafe|
        .col-md-4.cafe_content
          .name
            %h2= link_to cafe.name, cafe
          .address
            %h4= cafe.address
          .data.clearfix
          %p.summary
            = truncate(cafe.description, length: 200)
          %p.social
            %span
              %i.fa.fa-thumbs-o-up
                = cafe.get_likes.size
            %span
              %i.fa.fa-thumbs-o-down
                = cafe.get_dislikes.size