.container
  .row.wrapper.top-100
    .col-md-12
      .col-md-6.col-md-offset-3.right-inner-addon
        =render 'search'
  .row
    #results
      - @cafes.each do |cafe|
        .col-md-4.cafe_content
          .name
            %h2= link_to truncate(cafe.name, length: 18), cafe
          .address
            %h4= truncate(cafe.address, lenth: 80)
          .data.clearfix
          %p.summary
            = truncate(cafe.description, length: 200)
          %p.social
            %span
              %i.fa.fa-thumbs-o-up
                = cafe.get_likes.size
            %span
              %i.fa.fa-thumbs-o-down
                = cafe.get_dislikes.size