.container
  .row.wrapper.top-150
    .col-md-12
      =render 'search'

  .row
    #map
    - if @cafes.any?
      :javascript
        $(document).ready(function(){
          $("#map").show();       
          var geojson = #{@geojson.to_json};
          mapObj.jsonLayer = L.geoJson(geojson, {
            style: function (feature) {
              return {color: feature.properties.color};
            },
            onEachFeature: function (feature, layer) {
              console.log(feature);
              layer.bindPopup("<a href='cafes/" + feature.properties.url + "'>" + feature.properties.name + "</a>");
            }
          });
          mapObj.jsonLayer.addTo(mapObj.leafletMap);
          mapObj.leafletMap.fitBounds(mapObj.jsonLayer.getBounds());
        });
    - else
      :javascript
        $("#map").hide();

  #results.row
    - if @cafes.any?
      - @cafes.in_groups_of(3, false).each_with_index do |group|
        .row
          - group.each do |cafe|
            .col-md-4.cafe_content
              .name
                %h2= link_to truncate(cafe.name, length: 18), cafe
              .address
                %h4= truncate(cafe.address, lenth: 80)
              .data.clearfix
              %p.summary
                = truncate(cafe.description, length: 200)
              %p.social
                %span
                  %i.fa.fa-thumbs-o-up
                    = cafe.get_likes.size
                %span
                  %i.fa.fa-thumbs-o-down
                    = cafe.get_dislikes.size
    - else
      %h1 No cafes found!
      %p
        Would you like to 
        =link_to "add a cafe?", new_cafe_path