%header
  .container
    .intro-text
      .intro-lead-in Welcome to Coffee and Power
      .intro-heading Lorem ipsum dolor sit amet
.container  
  .row

    %h1 Cafes

    #cafes
      - @cafes.each do |cafe|
        .col-md-4.cafe
          .cafe_content
            .name
              %h2= link_to cafe.name, cafe
            .data.clearfix
            %p.username
              Shared by
              = cafe.user.name
              = time_ago_in_words(cafe.created_at)
              ago
            %p.buttons
              / %span
              /   %i.fa.fa-comments-o
              /     = cafe.comments.count
              %span
                %i.fa.fa-thumbs-o-up
                  = cafe.get_likes.size
              %span
                %i.fa.fa-thumbs-o-down
                  = cafe.get_dislikes.size