.notifications
  - if notice
    #notice_wrapper
      %p.notice= notice
  - elsif alert
    #alert_wrapper
      %p.alert= alert

.container.top-50
  .row
    .col-md-8
      .name
        %h2= @cafe.name
      .address
        %h4= @cafe.address
      .edit
        - if @cafe.user == current_user
          = link_to edit_cafe_path(@cafe), class: "data" do
            %i.fa.fa-pencil-square-o

          = link_to cafe_path(@cafe), method: :delete, data: {confirm: "Are you sure you want to delete this cafe?"} do
            %i.fa.fa-times
      .data.clearfix
      .wrapper
        %p.description= @cafe.description
      
      #comments
        %h4.comment_count= pluralize(@cafe.comments.count, "Comment")
        = render @cafe.comments

        %strong Reply to thread
        = render "comments/form"

    .col-md-4
      %p.user
        Added by
        = @cafe.user.name
        = time_ago_in_words(@cafe.created_at)
        ago
      .voting
        = link_to like_cafe_path(@cafe), method: :get, class: "data" do
          %i.fa.fa-thumbs-o-up
        = pluralize(@cafe.get_upvotes.size, "like")
        = link_to dislike_cafe_path(@cafe), method: :get, class: "data" do
          %i.fa.fa-thumbs-o-down
        = pluralize(@cafe.get_downvotes.size, "disike")