.container.top-150
  .row
    .col-md-8
      .name
        %h2= truncate(@cafe.name, length: 35)
      .address
        %h4= truncate(@cafe.address, length: 80)
      .edit
        - if @cafe.user == current_user
          = link_to edit_cafe_path(@cafe), class: "data" do
            %i.fa.fa-pencil-square-o

          = link_to cafe_path(@cafe), method: :delete, data: {confirm: "Are you sure you want to delete this cafe?"} do
            %i.fa.fa-times
      .data.clearfix
      .wrapper
        %p.description= @cafe.description
      
      #comments
        %h4.comment_count= pluralize(@cafe.comments.count, "Comment")
        = render @cafe.comments

        %strong Reply to thread
        = render "comments/form"

    .col-md-4
      %p.user
        Added by
        = @cafe.username
        = time_ago_in_words(@cafe.created_at)
        ago
      .voting
        = link_to like_cafe_path(@cafe), method: :get, class: "data" do
          %i.fa.fa-thumbs-o-up
        = pluralize(@cafe.get_upvotes.size, "like")
        = link_to dislike_cafe_path(@cafe), method: :get, class: "data" do
          %i.fa.fa-thumbs-o-down
        = pluralize(@cafe.get_downvotes.size, "disike")
      .map
        = image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=500x500&center=" + @cafe.latitude.to_s + "," + @cafe.longitude.to_s + "&markers=icon:http://chart.apis.google.com/chart?chst=d_map_pin_icon%26chld=cafe%7C" + @cafe.latitude.to_s + "," + @cafe.longitude.to_s