%h1= @cafe.name
%p= @cafe.address

- if @cafe.user == current_user
  = link_to "Edit", edit_cafe_path(@cafe), class: "data"
  = link_to "Delete", cafe_path(@cafe), method: :delete, data: { confirm: "Are you sure?"}, class: "data"

%p= link_to "Home", root_path