.container
  .row.wrapper.top-150
    .col-md-12
      =render 'search'
  .row
    .col-md-7.cafe_show
      .name
        %h2= truncate(@cafe.name, length: 35)
      .address
        = link_to @google_map_link, target: "_blank" do
          %i.fa.fa-map-marker
          = truncate(@cafe.address, length: 100)
      .edit
        - if @cafe.user == current_user
          = link_to edit_cafe_path(@cafe), class: "data" do
            %i.fa.fa-pencil-square-o

          = link_to cafe_path(@cafe), method: :delete, data: {confirm: "Are you sure you want to delete this cafe?"} do
            %i.fa.fa-times
      .data.clearfix
      .wrapper
        %p.description= @cafe.description
      
      #comments
        - if @cafe.comments.count > 0
          %h4.comment_count= pluralize(@cafe.comments.count, "Comment")
          = render @cafe.comments

        - if current_user
          = render "comments/form"
        - else
          = link_to 'Sign in to leave a comment', new_user_session_path, class: "sign_in"

    .col-md-3.col-md-offset-1
      %p.user
        Added by
        = @cafe.username || "anon"
        = time_ago_in_words(@cafe.created_at)
        ago
      .voting
        = link_to like_cafe_path(@cafe), method: :get, class: "data" do
          %i.fa.fa-thumbs-o-up
        = pluralize(@cafe.get_upvotes.size, "like")
        = link_to dislike_cafe_path(@cafe), method: :get, class: "data" do
          %i.fa.fa-thumbs-o-down
        = pluralize(@cafe.get_downvotes.size, "disike")
      .map
        = image_tag @map_image
      - if @nearbys.count > 0
        .nearbys
          %h4 Nearby cafes
          %ul
            - @nearbys.each do |nearby_cafe|
              %li= link_to(truncate(nearby_cafe[:pointer].name, length: 25), nearby_cafe[:pointer]) + " " + (@cafe.distance_from(nearby_cafe[:pointer]) * 1609.344).round().to_s + " m away"